NODES_DIR=../src/neuroworkflow/nodes

# Absolute path (add a path to your cloned repository (local folder django-project))
HOST_PROJECT_PATH=/home/ubuntu/brain/neuro-workflow/gui/workflow_backend/django-project
