DB_PASSWORD=pass
DB_USER=postgres
DB_NAME=django_
DB_PORT=5432

POSTGRES_PASSWORD=$DB_PASSWORD
POSTGRES_USER=$DB_USER
POSTGRES_DB=$DB_NAME

SUPABASE_URL=https://<your_id>.supabase.co
SUPABASE_ANON_KEY=<your_key>
SUPABASE_JWT_SECRET=<your_key>

DJANGO_SECRET_KEY='django-insecure-ps=r$krar9a52wp$n6x#qu64j@l68@ajqtps2&^oxyf*fx09^x'

PYTHONENV=/usr/bin/python3

